@model CakeFactoryProd.ViewModels.CakeEditVM

@{
    ViewData["Title"] = "Cakes Factory";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<a asp-action="Cakes" asp-controller="Admin">Cakes</a>|<a asp-action="Index" asp-controller="Toppings">Toppings</a>|<a asp-action="Index" asp-controller="Fillings">Fillings</a>|<a asp-action="Index" asp-controller="Shape">Shapes</a>

<h1>Cakes</h1>

<p>
    <a class="btn btn-primary float-right" asp-area="" asp-controller="Cake" asp-action="Create">Add Cake</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Size</th>
            <th>Shape</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CakeVMs) {
        
        <tr>
            <td>@item.Name</td>
            <td>@string.Format("{0:0.00}", @item.Price)</td>
            <td>@item.Size</td>
            <td>@item.Shape</td>
            <td>@item.IsActive</td>
            <td>
                    <a asp-controller="Cake" asp-action="Edit" asp-route-id="@item.CakeId">Edit</a> |
                    <a asp-controller="Cake" asp-action="AdminDetail" asp-route-id="@item.CakeId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<h1>Topping</h1>

<p>
    <a class="btn btn-primary float-right" asp-area="" asp-controller="Toppings" asp-action="Create">Add Topping</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToppingVMs) {
        
        <tr>
            <td>@item.Flavor</td>
                <td>@string.Format("{0:0.00}", @item.PriceFactor)</td>
            <td>@item.IsActive</td>
            <td>
                <a asp-controller="Toppings" asp-action="Edit" asp-route-id="@item.ToppingId">Edit</a> |
                <a asp-controller="Toppings" asp-action="Details" asp-route-id="@item.ToppingId">Details</a> |
                <a asp-controller="Toppings" asp-action="Delete" asp-route-id="@item.CakeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<h1>Filling</h1>

<p>
    <a class="btn btn-primary btn-right" asp-area="" asp-controller="Fillings" asp-action="Create">Add Filling</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FillingVMs)
        {

            <tr>
                <td>@item.Flavor</td>
                <td>@string.Format("{0:0.00}", @item.PriceFactor)</td>
                <td>@item.IsActive</td>
                <td>
                    <a asp-controller="Fillings" asp-action="Edit" asp-route-id="@item.FillingId">Edit</a> |
                    <a asp-controller="Fillings" asp-action="Details" asp-route-id="@item.FillingId">Details</a> |
                    <a asp-controller="Fillings" asp-action="Delete" asp-route-id="@item.FillingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>