@model IEnumerable<CakeFactoryProd.ViewModels.AdminOrderVM>



<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Purchase Date</th>
            <th>Cost</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Cake</th>
            <th>Filling</th>
            <th>Size</th>
            <th>Shape</th>
            <th>Topping</th>
            <th>Pick-up Date</th>
            <th>Customer Name</th>
            <th>Preffered Name</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            
        <tr>
            <td>@item.CakeOrderVM.OrderId</td>
            <td>@item.CakeOrderVM.PurchaseDate?.ToString("ddd, MMM d, yyyy")</td>
            <td>$@item.CakeOrderVM.Cost.ToString("0.00")</td>
            <td>@item.CakeOrderVM.Quantity</td>
            <td>$@item.CakeOrderVM.Total.ToString("0.00")</td>
            <td>@item.CakeOrderVM.CakeVM.Name</td>
            <td>@item.CakeOrderVM.CakeVM.Filling</td>
            <td>@item.CakeOrderVM.CakeVM.Size</td>
            <td>@item.CakeOrderVM.CakeVM.Shape</td>
            <td>
                @foreach (var topping in item.CakeOrderVM.CakeVM.SelectedToppings)
                {
                    <span>@topping.Flavor, </span>
                }
            </td>
            <td>@item.CakeOrderVM.PickupDate?.ToString("ddd, MMM d, yyyy")</td>
            <td>@item.UserVM.UserName</td>
            <td>@item.UserVM.PrefferedName</td>
            <td>@item.UserVM.PhoneNumber</td>
        </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-primary float-right" asp-area="" asp-controller="Admin" asp-action="Index">Back to orders</a>
</p>