@model IEnumerable<CakeFactoryProd.Models.Topping>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Topping</h4>
    <hr />
    @foreach (var topping in Model)
    {
        <th>
            @topping.Id
        </th>        
        <th>
            @topping.Description
        </th>        
        <th>
            @topping.PriceFactor
        </th>        
        <th>
            @topping.Flavor
        </th>        
        <th>
            @topping.IsActive
        </th> 
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
