@model IEnumerable<CakeFactoryProd.Models.Filling>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<a asp-action="Cakes" asp-controller="Admin">Cakes</a>|<a asp-action="Index" asp-controller="Toppings">Toppings</a>|<a asp-action="Index" asp-controller="Fillings">Fillings</a>|<a asp-action="Index" asp-controller="Shape">Shapes</a>

<h1>Fillings</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flavor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceFactor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flavor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceFactor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
