@*@model IEnumerable<CakeFactoryProd.Models.Order>*@

@using CakeFactoryProd.Utilities
@model PaginatedList<CakeOrderVM>
@using CakeFactoryProd.ViewModels


@{
    ViewData["Title"] = "Order History";
}

<h1>OrderHistory</h1>

@if (Model.Count != 0){
<table class="table">
    <thead>
        <tr>
            <th>
                Order Id
            </th>
            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
               Total Amount
            </th>
            <th>
                Date
            </th>
            <th>PaymentId</th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.OrderId
            </td>
            <td>
                @item.CakeVM.Name
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                 @item.Total.ToString("C2")

            </td>
            <td>
                @item.PurchaseDate?.ToString("ddd, MMM d, yyyy")
                    
            </td>
            <td>
                @item.IpnVM.PaymentId
            </td>
        


         @*   <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
    </table>
}
else
{
    <p>Nothing to show</p>
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="OrderHistory"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="OrderHistory"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>


<div>   
    <a asp-area="Identity" asp-controller="User" asp-action="UserProfile" title="User Profile">Back to Profile Page</a>
    @* <a asp-action="Index">Back to List</a>*@
</div>