@model IEnumerable<CakeFactoryProd.Models.Order>

@{
    ViewData["Title"] = "OrderHistory";
}

<h1>OrderHistory</h1>

@if (Model != null){
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPicked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenOrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPicked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenOrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
         @*   <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
    </table>
}
else
{
    <p>Nothing to show</p>
}


<div>   
    <a asp-area="Identity" asp-controller="User" asp-action="UserProfile" title="User Profile">Back to Profile Page</a>
    @* <a asp-action="Index">Back to List</a>*@
</div>