@model CakeFactoryProd.ViewModels.UserVM

<div>
    <br />
    <h3>Welcome to dashboard</h3>
    <hr />
    
    <dl class="row">

        <div style="display: flex; justify-content: center;">
            <table style="margin-top:20px;">
                <tr style="margin-bottom: 1rem">
                    <td class="itemX-profile"><img src="../images/profile_picture.png" class="img-all" /></td>
                       <td class="itemX-profile"> <b>@Model.PrefferedName</b></td>
                </tr>
                <tr>
                    <td class ="itemX-profile">
                        <img src="../images/email.png" class="img-all" alt="email image" >
                    </td>
                    <td class="itemX-profile">@Model.Email</td>
                </tr>
                <tr>
                    <td class="itemX-profile">
                        <img src="../images/phone.jpg" class="img-all" alt="phone image"  />
                    </td>
                    <td class="itemX-profile">@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <td class="itemX-profile"><img src="../images/cake.png" class="img-all" /></td>
                    <td class="itemX-profile">@Model.TotalNumberOfOrders Cake Orders</td>
                </tr>
            </table>
        </div>




       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefferedName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefferedName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Cake Ordered
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNumberOfOrders)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="OrderHistory" asp-route-id="@Model?.UserId">Order History</a>
    @* <a asp-action="Index">Back to List</a>*@
</div>
