@model CakeFactoryProd.ViewModels.UserVM

@{
    ViewData["Title"] = "UserProfile";
}

<h1>Your Profile</h1>

<div>
    <h4>Welcome to your dashboard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefferedName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefferedName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNumberOfOrders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNumberOfOrders)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="OrderHistory" asp-route-id="@Model?.UserId">Order History</a>
    @* <a asp-action="Index">Back to List</a>*@
</div>
